/blib*
/_build*
/.build
/Build
/cover_db
/*.db
/inc
/.llrc
/log/*.log
/.lwpcookies
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/META.yml
/MYMETA*
/Pithub-*/
/pm_to_blib*
/.project
*.sw*
/*.tar.gz
.tidyall.d
