Andreas Marienborg <andreas.marienborg@gmail.com>
Andreas Marienborg <andreas.marienborg@gmail.com> <omega@palle.net>
Johannes Plunien <plu@pqpq.de>
Johannes Plunien <plu@pqpq.de> <johannes.plunien@metaquark.de>
Johannes Plunien <plu@pqpq.de> <johannes.plunien@xing.com>
José Joaquín Atria <jjatria@cpan.org> <jjatria@gmail.com>
SUZUKI Masashi <m15.suzuki.masashi@gmail.com>
Zoffix Znet <cpan@zoffix.com>
Zoffix Znet <cpan@zoffix.com> <zoffixznet@users.noreply.github.com>
