language: "perl"
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
env: PERL_CPANM_OPT="--notest --force --skip-satisfied"
before_install:
  - "cpanm Dist::Zilla Test::Pod Devel::Cover::Report::Coveralls Dist::Zilla::App::Command::cover"
  - "dzil authordeps | xargs cpanm"
install: "dzil listdeps | xargs cpanm"
script: "RELEASE_TESTING=1 dzil cover -report coveralls -outputdir $PWD/cover_db"
